{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "tsx": true
        }
    },
    "extends": [
      "eslint:recommended",
      "prettier",
      "prettier/prettier",
      "plugin:prettier/recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {}
}