Gentile #{@user.full_name},

Ti confermiamo l'avvenuta registrazione su www.cheidelacoriera.com!
Effettua l'accesso e verifica di avere inserito tutti i dati correttamente (nome, cognome, numero di telefono).

********

Il Team di Chei De La Coriera
"Divoriamo chilometri per sfamare la nostra passione, la nostra Dea corre, ovunque la seguirem!""
