%p Gentile #{@user.full_name},

%p
  Ti confermiamo che la tua registrazione su
  = link_to(' www.cheidelacoriera.com', 'http://www.cheidelacoriera.com?utm_source=email&utm_campaign=activation', target: '_blank')
  è stata approvata!
  %br/
  Effettua l'accesso e verifica di avere inserito tutti i dati correttamente (nome, cognome, numero di telefono).
%p
  Potrai verificare i tuoi dati
  = link_to('accedendo qui', 'http://www.cheidelacoriera.com/users/edit?gtm_source=email&gtm_campaign=activation', target: '_blank')

%p
  Continuando la navigazione dichiari implicitamente di accettare il nostro
  = link_to(' regolamento', 'http://www.cheidelacoriera.com/regolamento?gtm_source=email&gtm_campaign=activation', target: '_blank')
