%p Gentile #{@user.full_name},

%p
  Siamo spiacenti la tua registrazione su
  = link_to(' www.cheidelacoriera.com', 'http://www.cheidelacoriera.com?utm_source=email&utm_campaign=rejection', target: '_blank', rel: 'noopener noreferrer')
  è stata rifutata o sospesa.
%p
  Potrai continuare a seguire la nostra attività sul sito ma non potrai registrarti alle trasferte.
