Gentile #{@user.full_name},

Siamo spiacenti la sua richiesta di registrazione al sito www.cheidelacoriera.com è stata rifiutata o sospesa.

Potrai continuare a seguire la nostra attività sul sito ma non potrai registrarti alle trasferte.
