= crud_form(:competition_id, :date, :time, :venue, :home_team_id, :away_team_id, :season, :poster_url, :bookable_from,
            :bookable_until, :audience, :pax, :notes, :confirmed_seats, :requested_seats, :rejected_seats, :score)
= render partial: 'shared/form_html5_support'
