= crud_form(:competition_id, :date, :time, :venue, :home_team_id, :away_team_id, :season, :poster_url, :notes, :bookable_from, :bookable_until, :confirmed_seats, :requested_seats, :score)
= render partial: 'shared/form_html5_support'
