.jumbotron
  %h1= t('home.index.title')
  - if current_user
    %p= t("home.index.body.#{current_user.status}")
  - else
    %p= t('home.index.body.not_logged', login: link_to(t('home.index.body.login'), new_user_session_path)).html_safe

  .text-center
    %img{ src: asset_path('images/cheidelacoriera_logo.png') }
