- @title = 'Benvenuto su Chei de la Coriera'
- provide :head do
  :css
    img.img-content {
      max-width:80%;
      margin:auto;
    }
    p.content-paragraph {
      color: black;
      font-weight: bolder;
      text-shadow: 2px 2px #d3d3d3;
    }

  %link{ rel: :canonical, href: '/' }

- provide :top_content do
  .row
    .col-sm-12.text.wow.fadeInLeft
      %img.img-responsive.img-content{ src: asset_path('logo.png'), alt: 'trasferte atalanta' }/
      .description

= react_component('HelloWorld', { greeting: 'Hello' }, prerender: true)
#welcome-actions

- provide :page_javascript do
  = javascript_pack_tag 'api/welcome_actions.js'
