.jumbotron
  %h1 Benvenuto su CheiDeLaCoriera
  %p
    Per poter continuare su questo sito
    = link_to('accedi qui', new_user_session_path)
  .text-center
    %img{ src: asset_path('images/cheidelacoriera_logo.png') }
