- @title = t('events.index.title')

.row.breadcrumb-row
  %hr
  = BreadcrumbBuilder.build(:home, :all_events)

.crud-container
  %hr
  .row
    #event-list

- provide :page_javascript do
  = javascript_packs_with_chunks_tag 'api/all_events'
