- @title = t('events.index.title')

.row.breadcrumb-row
  %hr
  = BreadcrumbBuilder.build(:home, :all_events)

.crud-container
  %hr
  .row
    - @events.each do |evt|
      = render partial: 'events/event', locals: { event: evt }

- provide :page_javascript do
  :javascript
    $(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
