- @title = t('events.index.title')

.row.breadcrumb-row
  %hr
  = BreadcrumbBuilder.build(:home, :all_events)

.crud-container
  %hr
  .row
    #event-list

- provide :page_javascript do
- provide :page_javascript do
  = javascript_pack_tag 'api/upcoming_events'
