- @title = @event.to_s

/.jumbotron
.panel.panel-default
  .panel-body
  - unless @event.notes.nil?
    .col-md-6.col-sm-12
      = sanitize @event.notes.html_safe, scrubber: EventScrubber.new
      %hr
      #reservation-form
      %hr
  - unless @event.poster_url.nil?
    .col-md-6.col-sm-12
      %img.img-responsive{ src: @event.poster_url }

:javascript
  $(function(){
    $.ajax({
      method: 'GET',
      url: '#{user_form_reservations_path}',
      success: function(data){
        $('#reservation-form').html(data);
      }
    })
  })
