- @title = t('events.upcoming.title')

.crud-container
  %hr
  .row
    - @events.each do |evt|
      = render partial: 'events/event', locals: { event: evt }
  %hr
  .row.text-center
    %p
      = link_to(t('events.upcoming.history'), all_events_path, class: 'btn btn-default gtm-home-action', data: { action: :events_history })
