- @title = t('events.upcoming.title')

.crud-container
  %hr
  .row
    #event-list

  .row.text-center
  %hr
    %p
      = link_to(t('events.upcoming.history'), seo_url(all_events_path), class: 'btn btn-default gtm-home-action', data: { action: :events_history })

  .row.breadcrumb-row
    %hr
    = BreadcrumbBuilder.build(:home, :upcoming_events)

- provide :page_javascript do
  = javascript_packs_with_chunks_tag 'api/upcoming_events'
