- @title = 'News'

%a.twitter-timeline{ href: 'https://twitter.com/CheiDeLaCoriera?ref_src=twsrc%5Etfw' } Tweets by CheiDeLaCoriera
%script{ async: '', charset: 'utf-8', src: 'https://platform.twitter.com/widgets.js' }
