- @title ||= ti(:title, models: models_label)

/- content_for(:tools, render('search')) if search_support?

- content_for(:actions, render('actions_index'))

= crud_datatable(model_name, *datatable_columns)

:javascript
  $(function(){
    initializeCrudTable(
      '#{url_for(controller: controller_name, action: :datatable_index)}',
      '##{model_name}-table',
      '.#{model_name}-index-buttons'
    )
  })
