- @title = 'Albums'

.row
  .col-md-6.col-sm-12.col-xs-12
    .photogallery-item
      .embed-responsive-item
        %iframe#pippo{ allowfullscreen: '', height: '100%', scrolling: 'no', src: 'https://albumizr.com/a/tq-4', width: '100%' }
      .text-center
        %button.btn.btn-primary#test-btn FullScreen
  .col-md-6.col-sm-12.col-xs-12
    .photogallery-item
      .embed-responsive-item
        %iframe{ allowfullscreen: '', height: '100%', scrolling: 'no', src: 'https://albumizr.com/a/tq-4', width: '100%' }
      .text-center
        %button.btn.btn-primary FullScreen

:javascript
  var button = document.querySelector('#test-btn');

  $().ready(function(){
    prepareButton(button);
  })

  function prepareButton(button){
    button.addEventListener('click', fullscreen);
    // when you are in fullscreen, ESC and F11 may not be trigger by keydown listener.
    // so don't use it to detect exit fullscreen
    / document.addEventListener('keydown', function (e) {
    /   console.log('key press' + e.keyCode);
    / });
    // detect enter or exit fullscreen mode
    document.addEventListener('webkitfullscreenchange', fullscreenChange);
    document.addEventListener('mozfullscreenchange', fullscreenChange);
    document.addEventListener('fullscreenchange', fullscreenChange);
    document.addEventListener('MSFullscreenChange', fullscreenChange);

    // var iframe = button.closest('.photogallery-item').getElementsByClassName('embed-responsive-item')[0].getElementsByClassName('iframe-fullscreen')[0];

    function fullscreen(button) {
      // check if fullscreen mode is available
      if (document.fullscreenEnabled ||
        document.webkitFullscreenEnabled ||
        document.mozFullScreenEnabled ||
        document.msFullscreenEnabled) {

        // which element will be fullscreen
        var iframe = document.querySelector('#pippo');
        // Do fullscreen
        if (iframe.requestFullscreen) {
          iframe.requestFullscreen();
        } else if (iframe.webkitRequestFullscreen) {
          iframe.webkitRequestFullscreen();
        } else if (iframe.mozRequestFullScreen) {
          iframe.mozRequestFullScreen();
        } else if (iframe.msRequestFullscreen) {
          iframe.msRequestFullscreen();
        }
      }
      else {
        document.querySelector('.error').innerHTML = 'Your browser is not supported';
      }
    }

    function fullscreenChange(button) {
      if (document.fullscreenEnabled ||
           document.webkitIsFullScreen ||
           document.mozFullScreen ||
           document.msFullscreenElement) {
        console.log('enter fullscreen');
      }
      else {
        console.log('exit fullscreen');
      }
      // force to reload iframe once to prevent the iframe source didn't care about trying to resize the window
      // comment this line and you will see
      var iframe = document.querySelector('#pippo');
      iframe.src = iframe.src;
    }

  }


