Ciao #{@user.full_name},

Ti confermiamo che la tua prenotazione per la partita #{@event} è stata accettata.

NNon appena avremo raggiunto il numero minimo di partecipanti per assicurare il servizio, ti comunicheremo ulteriori dettagli.
