Ciao #{@user.full_name},

Ti confermiamo che la tua prenotazione per la partita #{@event} è stata accettata.

Riceverai tutti i dettagli relativi alla trasferta (e.s. numero di bus, istruzioni particolari per il parcheggio etc.), al più tardi un giorno prima della partenza.

Forza Atalanta
