Gentile #{@user.full_name},

Ti confermiamo di aver ricevuto la tua prenotazione per la partita #{@event}.

Riceverai nelle prossime una mail che ti confermerà la presa in carico della prenotazione.

