Gentile #{@user.full_name},

Ti confermiamo di aver ricevuto la tua prenotazione per la partita #{@event}.

Non appena avremo raggiunto il numero minimo di partecipanti per assicurare il servizio, riceverai una mail di conferma contenente tutti i dettagli.

********

Il Team di Chei De La Coriera
"Mangiamo chilometri per sfamare la nostra passione, la nostra Dea corre, ovunque la seguirem!""
