Ciao #{@user.full_name},

Abbiamo preso in carico la tua richiesta di adesione alla trasferta #{@event}.

Prossimamente riceverai comunicazione dallo staff riguardo la conferma definitiva o non conferma della tua prenotazione.
