Ciao #{@user.full_name},

Purtroppo non ci è possibile accettare in questo momento la tua prenotazione per la partita #{@event}.

Qualora si liberassero dei posti o la situazione dovesse cambiare, sarà nostra premura inviarti un aggiornamento della disponibilità per la tua prenotazione.
