Gentile #{@user.full_name},

Purtroppo non ci è possibile accettare in questo momento la tua prenotazione per la partita #{@event}.

Qualora si liberassero dei posti o la situazione dovesse cambiare, avremo cura di ricontattarti.
