#share-buttons a {
  width: 32px;
  height: 32px;
  padding: 20px;
  border: 0;
  box-shadow: 0;
  display: inline;
}

#share-buttons .cloud {
  background: asset-url('buttons/cloud@32.png') center no-repeat;
}

#share-buttons .email {
  background: asset-url('buttons/email@32.png') center no-repeat;
}

#share-buttons .facebook {
  background: asset-url('buttons/facebook@32.png') center no-repeat;
}

#share-buttons .whatsapp {
  display: none;
}


@media (max-width: 767px) {

  #share-buttons .whatsapp {
    display: inline;
    background: asset-url('buttons/whatsapp@32.png') center no-repeat;
  }
}
