/ %p
/   Hello #{@resource.email}!
/ %p Someone has requested a link to change your password. You can do this through the link below.
/ %p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token)
/ %p If you didn't request this, please ignore this email.
/ %p Your password won't change until you access the link above and create a new one.
%p
  Buongiorno #{@resource.email}!
%p Qualcuno ci ha inviato una richiesta per cambiare la tua password. Potrai farlo cliccando il link di seguito:
%p= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token)
%p Se non hai inviato tu questa richiesta, ti preghiamo di ignorare questo messaggio.
