- if flash[level].present?
  .alert{ align: 'center', class: "alert-#{flash_class(level)} alert-dismissable" }
    %a.close{ 'aria-label' => 'close', 'data-dismiss' => 'alert', href: '#' } ×
    = sanitize flash[level].html_safe, scrubber: FlashScrubber.new
