/Bootstrap core CSS
= stylesheet_link_tag 'css/bootstrap.css'
%link{ href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext', rel: 'stylesheet' }
= stylesheet_link_tag 'css/font-awesome.css'

= stylesheet_link_tag 'application.css'
